@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap')
$font-family: 'Montserrat', sans-serif

$body-font-size: 10px

$darkshade: #1F2041
$darkshade75: rgba(31, 32, 65, 0.75)
$darkshade50:  rgba(31, 32, 65, 0.50)
$darkshade25:  rgba(31, 32, 65, 0.25)
$darkshade5:  rgba(31, 32, 65, 0.5)



$headline-color: $darkshade
$text-color: $darkshade75

$primary-color: #BC9CFF
$secondary-color: #6FCF97

$border-color: $darkshade25
$border-focus: $darkshade50